@charset "utf-8" ;

*{margin: 0; padding: 0;}
li{list-style: none;}
a{
    text-decoration: none;
    display: block;
    color: #333;
}
html, body {
   color: #333;
   min-width: 1280px; /* 컨테이너 중심축보다 작은디바이스에서
                          중심축깨지지않게 나옴  */
}
/* header */
header {
    height: 80px;
    line-height: 80px;
}
header  div {
    width: 1280px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header div h1 a{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
/* main_visual 메인비주얼  */
.main_visual {
    width: 100%;
    height: 800px;
    background: url('../images/main_1.jpg') center center/ cover no-repeat;
    background-attachment:fixed;
    color: rgb(236, 236, 227);
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
.main_visual div {
    text-align: center;
}
.main_visual div h2 {
    font-size: 120px;
    text-shadow: 5px 6px  rgb(39, 39, 39);
}
.main_visual div p {
    font-size: 40px;
    margin-top: 30px;
    color: rgba(32, 32, 30, 0.993);
    text-shadow: 2px 2px #ccc;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}
/* best portfolio 베스트 포트폴리오 */
.best{
    margin: 150px 0;
}
.best h3{
    font-size: 45px;
    text-align: center;
    width: 1280px;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 50px;
}



.best .bg .best_box {
    margin-bottom: 0;
}
.best .best_box {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
}

.best .best_box .info {
    width: 40%;
}
.best .best_box .info .cate {
 font-size: 18px;
 font-weight: bold;
}
.best .best_box .info h4 {
    font-size: 30px;
    }
.best .best_box .info .text {
        margin-top: 20px;
        margin-bottom: 40px;
        line-height: 1.5; /* 16px이라고했을때 x 1.5=> 24 숫자만이용하면 배수로 만들수있음 */
    }
.best .best_box .info dl {
    display: flex;
    margin-bottom: 10px;
    }
.best .best_box .info dl  dt {
    width: 28%;
    font-weight: bold;
}
.best .best_box .info  ul {
    display: flex;
    margin-top: 30px;
}
.best .best_box .info  ul li {
   height: 45px;
   line-height: 45px;
   border: 1px solid #333;
   margin-right: 10px;
}
.best .best_box .info  ul li a {
    padding:  0 25px;
}
.best .best_box .info  ul li:first-of-type{
    background-color: #333;

}
.best .best_box .info  ul li:first-of-type a {
    color: #fff;
}
.best .best_box .youtube_list {
    width: 55%;
}
.best .best_box .youtube_list div{
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
.best .best_box .youtube_list div iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.best .best_box .web_design {
    width: 55%;
}
.best .best_box .web_design .figure img {
    width: 100%;
}
/* 카테고리별 유튜브 적용 */
.youtube_wrap{
    margin: 150px 0;
    background-color: #fff;
    background ;
}
.youtube_wrap .youtube_menu {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.youtube_wrap .youtube_menu li {
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0 5px;
}
.youtube_wrap .youtube_menu li.on{
    background-color: #333;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.3);
}
.youtube_wrap .youtube_menu li.on a{
    color: #fff;
}
.youtube_wrap .youtube_cont .menu_cont {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    display: none;
}
.youtube_wrap .youtube_cont .menu_cont.on {
    display: flex;
}
.youtube_wrap .menu_cont .box {
    width: 49%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 30px;
}.youtube_list {
    width: 100%;
}
.youtube_list div {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    }
    .youtube_list div iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .youtube_wrap .menu_cont .box .info {
        padding: 30px;
    }
    .info h4{
        font-size: 30px;
        margin-bottom: 20px;
     
    }
    .info dl {
        display: flex;
        margin-bottom :10px;
    }
    .info dl dt {
        width: 20%;
        font-weight: bold;
    }
.info dl  dd a{
    font-weight: bold;
    }
    .info dl dd:hover a{
        text-decoration: underline;  /* 텍스트에 마우스올렸을때 밑줄그어짐   */
    }
h3{
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Sansita Swashed', cursive;
    color: deeppink;
}

/* 2D 디자인 */
.g_design{
    background-color: #fff;
  /*   background: rgb(250,249,251);
    background: linear-gradient(90deg, rgba(250,249,251,1) 0%, rgba(211,210,213,1) 50%, rgba(250,246,240,1) 100%); */
    padding: 150px 0;
    padding-bottom: 0;
}
.g_design h3 {
    font-family: 'Sansita Swashed', cursive;
   color: deeppink;
}
.g_design em {
    width: 1280px;
    margin: 0 auto;
    display: block;
    text-align: right;
}
.g_design .img_list {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.g_design .img_list div {
    width: 24%;
}
.g_design .img_list div figure {
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.g_design .img_list div figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.8s;
}
.g_design .img_list div ul {
   /*  background-color: rgb(237, 250, 250); */
   background: rgb(242,230,236);
   background: radial-gradient(circle, rgba(242,230,236,1) 0%, rgba(212,215,219,1) 100%);
    padding: 20px;
}
.g_design .img_list div ul li:first-of-type{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
}
.g_design .img_list div:hover {
    box-shadow: 2px 3px 30px rgba(71, 226, 231, 0.5);
}
.g_design .img_list div:hover figure img {
    transform: scale(1.2);
   }
/* 푸터 footer */
footer{
    background: rgb(185,179,183);
background: linear-gradient(90deg, rgba(185,179,183,1) 0%, rgba(154,151,154,1) 50%, rgba(177,191,190,1) 100%);
    color: #fff;
    padding: 100px 0;
    text-align: center;
}
footer h3{
    font-family: 'Black Han Sans', sans-serif;
    color: #fff;
}
footer a{
    color: #fff;
}
footer ul li {
    width: 220px;
    height: 50px;
    line-height:50px;
    border: 1px solid #fff;
    margin: 10px auto;
    border-radius: 50px;
}
footer ul li:first-of-type {
    background-color: #fff;
}
footer ul li:first-of-type a {
    color: rgb(221, 30, 30);
    font-weight: bold;
}
footer p {
    font-size: 14px;
    color: rgb(255,255,255,0.5);
    margin-top: 20px;
}
/* 웹&앱 디자인 .web_deisin */
.web_wrap { 
    /* background-color: #ccc; */
    /* color: #fff; */
    margin: 150px 0;
}
.web_wrap .web_box {
    width: 1280px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.web_wrap .web_box .web {
    width: 32%;
    margin-bottom: 50px;
}
.web_wrap .web_box .web figure { 
    height: 350px;

}
.web_wrap .web figure img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.web_wrap .web_box .info {  
    padding-top: 20px;
} 
/* .info 공통스타일 */
.info .text {
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.5;
}
.info ul {display: flex; margin-top: 30px;}
.info ul li:first-of-type {
    /* background-color: #333; */
    background: rgb(214,139,194);
    background: linear-gradient(90deg, rgba(214,139,194,1) 0%, rgba(143,75,149,1) 50%, rgba(67,241,224,1) 100%);
    border: 1px solid rgb(61, 61, 61);
}

.info ul li {
    height: 45px;
    line-height: 45px;
    border: 1px solid #333;
    margin-right: 10px;
    box-sizing: border-box;
}
.info ul li a {
    padding: 0 20px;
}
.info ul li:first-of-type a {
    color: #fff;
}
/* 개인정보 .about */
.about {
    margin: 150px 0;
}
.about .about_box {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.about .about_box figure {
    width: 30%;
    height: 500px;
}
.about .about_box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .about_box .about_info {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.about .about_box .about_info > div {
    width: 45%;
    margin: 20px 0;
    line-height: 1.5;
}
.about h4 {
    font-size: 30px;
    margin-bottom: 20px;
}
.about p {
    /* margin-bottom: 5px; */
    font-size: 20px;
}
.about dl {
    font-size: 20px;
}
.about dl dt {
    margin-bottom: 5px;
    font-weight: bold;
}
